strato
Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.env.*
! .env.example
.vscode
node_modules/
*.paw
.claude/
charts
/helm/strato-control-plane/Chart.lock
.specify
/tls.crt
/tls.key
