<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>VM Manager</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <script src="https://unpkg.com/htmx.org@1.9.0"></script>
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body class="bg-gray-100">
        <nav class="bg-white shadow-lg">
            <div class="max-w-7xl mx-auto px-4">
                <div class="flex justify-between h-16">
                    <div class="flex">
                        <a href="/" class="flex-shrink-0 flex items-center">
                            VM Manager
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <main class="container mx-auto mt-8 px-4">
            {{template "content" .}}
        </main>
    </body>
</html>
