apiVersion: v1
kind: Service
metadata:
  name: {{ include "strato-control-plane.fullname" . }}
  labels:
    {{- include "strato-control-plane.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if and .Values.spire.enabled .Values.spire.envoy.enabled }}
    - port: {{ .Values.spire.envoy.agentPort }}
      targetPort: agent-mtls
      protocol: TCP
      name: agent-mtls
    {{- end }}
  selector:
    {{- include "strato-control-plane.selectorLabels" . | nindent 4 }}